* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}


button {
    border: none;
    outline: none;
}

button:active {
    border: none;
    outline: none;
}

button:hover {
    border: none;
    outline: none;
}

button:focus {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
    outline: none;

}




ul {
    list-style-type: none
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h2 {
    padding: 10px;
    color: white;
}

wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #595959;
    border-radius: 8px;
    background-color: #59595987;

}

.button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border: 1px solid #595959;
    border-radius: 4px;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.button.button-like {
    background-color: #02730A;
}

.button.button-dislike {
    background-color: #FF0000;
}



#cat {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

#vote-gallery {
    display: flex;
    height: 200px;
    width: 100%;
    overflow: auto;
    border-radius: 4px;

}
.summary {
   color: white;
}

.vote-display {
    width: 80%;
    text-align: center;
}
.gallery--image {
    position: relative;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding-top: 4px;
}

.gallery--image:last {
    padding-right: 10px;
}

.like {
    position: relative;
    background-color: #02730A;
}

.dislike {
    position: relative;
    background-color: #FF0000;
}


